@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  height: 100vh;
  width: 100vw;
}

canvas {
  touch-action: none;
}

* {
  box-sizing: border-box;
}


.annotation-box {
  all: unset; /* Reset inherited styles */
  font-size: 6px !important;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid #acacac;
  padding: 4px 6px;
  border-radius: 4px;
  max-width: 200px;
  white-space: nowrap;
  /* box-shadow: 0 0 10px #F3823D, 0 0 20px #F3823D, 0 0 40px #F3823D; */
  pointer-events: none;
}

