@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  height: 100vh;
  width: 100vw;
}

canvas {
  touch-action: none;
}

* {
  box-sizing: border-box;
}